.feat-flex {
    display: inherit !important;
}





.feat-wrap {
    display: inline-flex;
    flex-wrap: wrap !important;
    align-items: normal !important;
}


.features-grid {
    padding-top: 50px;
    /* Üstte boşluk bırak */
    background-color: #212529;
    /* karanlık arka plan */
    color: white;
    /* Beyaz metin */
}

.feat-icon {

    margin-right: 20px;
    /* Sağa boşluk */
}

.features-grid {
    color: white;
    /* Başlık rengi beyaz */

}

.feature-description {
    font-size: 1.1em;
    /* Özellik açıklaması metni boyutu */
    margin-top: 10px;
    /* Başlık ile açıklama arasına boşluk */
}

/* Ekstra küçük cihazlar (telefonlar) */
@media (min-width: 18.75em) {
    .features-grid h3 {
        font-size: 1.3em;
        /* 20.8px */
    }

    .features-grid p {
        font-size: 1em;
        /* 17.6px */
    }

    .feat-icon {
        font-size: 2em;
        /* 40px */
    }
}

/* Küçük cihazlar (tabletler) */
@media (min-width: 31.25em) {
    .features-grid h3 {
        font-size: 1.5em;
        /* 24px */
    }

    .features-grid p {
        font-size: 1.1em;
        /* 16px */
    }


}

/* Orta boy cihazlar (dizüstü bilgisayarlar) */
@media (min-width: 43.75em) {
    .features-grid h3 {
        font-size: 1.3em;
        /* 27.2px */
    }

    .features-grid p {
        font-size: 1.4em;
        /* 17.6px */
    }

    .feat-icon {
        font-size: 2.5em;
        /* 50px */
    }

}

/* Büyük cihazlar (büyük dizüstü bilgisayarlar, masaüstü bilgisayarlar) */
@media (min-width: 62.5em) {
    .features-grid h3 {
        font-size: 1.9em;
        /* 30.4px */
    }

    .features-grid p {
        font-size: 1.2em;
        /* 19.2px */
    }

}